@import '../../theme';
@import '../../styles';

* {
  color: $on-bg;
  background-color: $bg;
}

.section-title {
  padding: 15px;
  text-align: center;
}

.card {
  $bg-color: rgb(167, 214, 255);
  text-decoration: none;
  text-align: center;
  max-width: 420px;
  background-color: $bg-color;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  float: left;
  * {
    text-decoration: none;
    width: 300px;
    background-color: $bg-color;
    margin-bottom: 0;
  }
  img {
    aspect-ratio: 1 / 1.5;
    width: 250px;
    &.small {
      float: left;
      // text-align: left;
    }
  }
  h1 {
    font-size: large;
    float: left;
  }
  h2 {
    font-size: medium;
    color: gray;
  }
}
