<button mat-icon-button (click)="switchStyle()" aria-label="Change view"><mat-icon>menu</mat-icon></button>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Cursives">

    <div card *ngFor="let item of books.cursives">
      <a [routerLink]="['/books', item.id.section, item.id.author, item.id.book]" routerLinkActive="">
        <h1>{{item.name}}</h1>
        <img class="cover" src="{{item.img ? item.img : 'assets/covers/placeholder.jpg'}}">
        <a class="author-name" mat-button routerLink="/author/{{item.id.author}}">
          <h2>{{item.author}}</h2>
        </a>
        <p summary>{{item.summary}}</p>
      </a>
    </div>

  </mat-tab>


  <mat-tab label="Personnelles">

    <div card *ngFor="let item of books.personals">
      <a [routerLink]="['/books', item.id.section, item.id.author, item.id.book]" routerLinkActive="">
        <h1>{{item.name}}</h1>
        <img class="cover" src="{{item.img}}">
        <a class="author-name" mat-button routerLink="/author/{{item.id.author}}">
          <h2>{{item.author}}</h2>
        </a>
        <p summary>{{item.summary}}</p>
      </a>
    </div>

  </mat-tab>
</mat-tab-group>

