@import '../theme';

nav {
  background-color: $p;
  padding: 15px;
  width: 100%;
  // display: flex;

  a {
    margin: 0 auto;
    text-decoration: none;
    color: $on-p;
    background-color: $p;
    border: none;
    padding: 10px;
    border-radius: 5px;
    // display: flex;
    &:hover {
      background-color: darken($p, 10);
    }
    &.icon {
      width: 53px;
      height: 53px;
      margin: 10px 5px;
      font-size: 30px;
    }

    &.item {
      margin: 10px
    }
  }
}
