<header>
  <nav fxLayout="row" fxLayoutAlign="space-between center">
    <div><a class="icon" routerLink="/"><i class="mdi mdi-home"></i></a></div>

    <div style="display: inline-block;">
      <a class="item" routerLink="/books/personals" routerLinkActive="active">Analyses</a>
      <a class="item" routerLink="/books/cursives" routerLinkActive="active">Lectures</a>
    </div>

    <div><a class="icon" routerLink="/about" routerLinkActive="active"><i class="mdi mdi-account"></i></a></div>
  </nav>
</header>

<router-outlet></router-outlet>
<!--
 fxLayoutAlign="start center"
 fxLayoutAlign="center center"
 fxLayoutAlign="end center"
 fxLayoutAlign="center center"
 fxLayoutAlign="center center"
 -->