mat-toolbar-row.first {
  margin: 0;
  padding: 8px 16px;
  a[mat-button] {
    margin: 0;
  }
}

mat-toolbar-row.second {
  padding: 0;
  height: 36px;
}

a span {
  vertical-align: 2px;
}

/* @import '../theme';

nav {
  background-color: $p;
  padding: 15px;
  width: 100%;
  // display: flex;

  a {
    margin: 0 auto;
    text-decoration: none;
    color: $on-p;
    background-color: $p;
    border: none;
    padding: 10px;
    border-radius: 5px;
    // display: flex;
    &:hover {
      background-color: darken($p, 10);
    }


    &.item {
      margin: 10px
    }
  }
}
.icon {
  border-radius: 50%;
  margin: 10px 0;
  padding: 8.5px 10px;
  font-size: 30px;
} */