<mat-toolbar color="primary" fx>
  <mat-toolbar-row>
    <a mat-button routerLink="/"><i class="mdi mdi-home mdi-24px"></i> Accueil</a>
    <span spacer></span>
    <div fxShow.gt-sm fxHide.lt-sm>
      <a routerLink="/books" mat-button>Lectures</a>
      <a routerLink="/" mat-button>Analyses</a>
    </div>
    <span spacer></span>
    <a mat-button routerLink="/">À propos <i class="mdi mdi-account mdi-24px"></i></a>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow.lt-sm fxHide.gt-sm>
    <span spacer></span>
    <a routerLink="/books" mat-button>Lectures</a>
    <a routerLink="/" mat-button>Analyses</a>
    <span spacer></span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-tab-group mat-align-tabs="center" backgroundColor="primary" fxShow.lt-sm fxHide.gt-sm>
  <mat-tab label="Lectures"></mat-tab>
  <mat-tab label="Analyses"></mat-tab>
</mat-tab-group> -->

<router-outlet></router-outlet>
