/* You can add global styles to this file, and also import other style files */
@import '~@mdi/font/scss/materialdesignicons';
@import './theme';

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg;
  color: $on-bg;
  @include color($p);

}
html body {
  margin: 0;
  padding: 0;
}
span[separator] {
  flex: 1 1 auto;
}